<template>
  <div id="app">
    <div v-if="nav_bar">
      <NavBar></NavBar>
      
    </div>
    
    <router-view></router-view>
  </div>
</template>

<script>
import NavBar from '@/components/navbar.vue'
import axios from 'axios';
export default {
  name: 'app',
  components: {
    NavBar
  },
  mounted(){
			//this.login();
      this.showVaribles();
			//this.timer =  setInterval(this.getCommentsById(this.threadid), 3000);
		},
    data(){
    return{
      id_task: null,
      server_ip: "http://172.22.1.13:1337",
      nav_bar: true //Para controlar el uso del navbar
    }
  },
    methods: {
      /*login: function(){
        var url = this.server_ip+"/users/login?userId=1";
				axios.get(url)
			  .then(respuesta => {
			    console.log(respuesta.data);
			    this.users = respuesta.data;
			  })
			  .catch(function (error) {
			    console.log(error);
			  });
	  		console.log(this.users);

      },*/
      showNav: function(){
        this.nav_bar = true;
      },
      showVaribles: function(){
        console.log(this.nav_bar);
      }
    }
  
}
</script>

<style>

</style>

