
<template>
	<div class="list">
		<div :class="[list_actived ? 'wrapper-list list-mode' : 'wrapper-list']" >
		 	<header>
		    	<a class="show-list" @click="showList($event)"><i class="ion-android-list"></i></a>
		      <a class="hide-list" @click="closeList($event)"><i class="ion-android-apps"></i></a>
		    </header>
		    <div class="container-list" >
		    	<div class="box-list" v-for="(value,index) in datos">
		    		<!-- Elemento encogido -->
		    		<div class="elements-list" align="center">
		    			<avatar :username="value.taskType" :size="80" class="initial-image"></avatar>
		    			<div class="image-back">ES - PT</div>
		    			<h6 style="color:white">Enviar</h6>
		    		</div>
		    		<!-- Elemento agrandado -->
		    		<div class="large-list">
		    			<div class="columns">
		    				<div class="column is-1">
		    					<avatar :username="value.taskType" :size="40" class="initial-image"></avatar>
		    				</div>
		    				<h2>{{value.User.username}}</h2> 
		    				<p><strong>Esta es la descripcion que habrá dentro de la descripción</strong></p>
		    				<h2 style="padding-left:0.4em;"> 15/07/22</h2>
		    				<h2 style="padding-left:0.4em;"> ES - PT</h2>
		    				<p class="buttons" style="padding-top: 0;padding-left:15px;">
								  <a class="button">
								    <span class="icon is-small">
								      <i class="ion-android-clipboard"></i>
								    </span>
								  </a>
								  <a class="button">
								    <span class="icon is-small">
								      <i class="ion-android-send"></i>
								    </span>
								  </a>
								</p>
		    			</div>
		    		</div>
		    		
		    	</div>

		    	

		    	<!-- -->


					
		    </div>
		    
		</div>
	</div>
	
</template>
<script >
	
//https://eliep.github.io/vue-avatar/
import Avatar from 'vue-avatar';
import axios from 'axios';

	export default{
		name: "assigments",
		mounted(){
			this.$parent.showNav();
			this.getTasks();
		},
		data(){
			return{
				list_actived: true,
				assign: false,
				datos: null
			}
		},
		components: {
			Avatar
		},
		methods:{
			showList:function(event){
				if (event){ event.preventDefault();}
				this.list_actived = true;
				this.assign = false;
			},
			closeList:function(event){
				if (event){ event.preventDefault();}
				this.list_actived = false;
				this.assign = true;
			},
	    getTasks:function(){
	      var url = this.$parent.server_ip+"/tasks/getTasks";
	        axios.get(url)
	        .then(respuesta => {
	          console.log(respuesta.data);
	          
	          this.datos = respuesta.data;

	        })
	        .catch(function (error) {
	          console.log(error);
	        });
	    }

		}
	}
</script>