<template>
   <div>
      <div class="box">
          <div class="columns is-gapless" style="padding-top: 70px;">
       
    <div class="column is-one-fifth">
   
    <nav class="breadcrumb" aria-label="breadcrumbs">
  <ul style="padding-left: 70px;">
    <li><a href="#">Usuario</a></li>
    <li class="is-active"><a href="#" aria-current="page">Issue</a></li>
  </ul>
   
</nav>

      </div>
        <div class="column">
      <span class="tag is-dark">
  Cambios hechos: X
</span>
 <span class="tag is-link">
  Contribuidores: X
</span>
 <span class="tag is-info">
  Estado: X
</span>
  </div>
  <div class="column">
      <a class="button">Revision</a>
      <a class="button">Seguimiento</a>
  </div>
   
   
    </div>
      </div>
       
    <div class="columns is-mobile is-centered">
       <div class="column is-four-fifths">
           <div class="box">
            <div class="columns">
                <div class="column is-one-fifth">
                    <figure class="image is-48x48">
          <img src="https://bulma.io/images/placeholders/128x128.png">
          </figure>
                </div>
                 <div class="column">
                    <p>
                       <a href="#" class="is-link">usuario</a>
                     <span> modifico</span>
                     <a href="#" class="is-link"> archivo</a> 
                    </p>
                     
                 </div>
           <div class="column">
               <a class="button">subir</a>
      <a class="button">editar</a>
      <a class="button">descargar</a>
           </div>
            </div>
            
            <div class="columns is-multiline is-mobile">
               <span class="tag is-dark">
  Cambios hechos: X
</span>    
               <div class="column is-full">
                 <div class="columns">
                     <div class="column is-three-fifhts">
                    <div class="box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ducimus temporibus! Tenetur cum atque beatae odit vero fugiat, amet ipsam, quasi repudiandae cupiditate quos, voluptates magnam illum autem, sint omnis.
                        </p>
                    </div>
                </div>
                <div class="column is-one-fifth">
                     <span class="tag is-dark">
  Hace: X horas
</span>
                </div> 
                 </div>
                  
               </div><div class="column is-full">
                 <div class="columns">
                     <div class="column is-three-fifhts">
                    <div class="box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ducimus temporibus! Tenetur cum atque beatae odit vero fugiat, amet ipsam, quasi repudiandae cupiditate quos, voluptates magnam illum autem, sint omnis.
                        </p>
                    </div>
                </div>
                <div class="column is-one-fifth">
                     <span class="tag is-dark">
  Hace: X horas
</span>
                </div> 
                 </div>
                  
               </div><div class="column is-full">
                 <div class="columns">
                     <div class="column is-three-fifhts">
                    <div class="box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ducimus temporibus! Tenetur cum atque beatae odit vero fugiat, amet ipsam, quasi repudiandae cupiditate quos, voluptates magnam illum autem, sint omnis.
                        </p>
                    </div>
                </div>
                <div class="column is-one-fifth">
                     <span class="tag is-dark">
  Hace: X horas
</span>
                </div> 
                 </div>
                  
               </div><div class="column is-full">
                 <div class="columns">
                     <div class="column is-three-fifhts">
                    <div class="box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ducimus temporibus! Tenetur cum atque beatae odit vero fugiat, amet ipsam, quasi repudiandae cupiditate quos, voluptates magnam illum autem, sint omnis.
                        </p>
                    </div>
                </div>
                <div class="column is-one-fifth">
                     <span class="tag is-dark">
  Hace: X horas
</span>
                </div> 
                 </div>
                  
               </div><div class="column is-full">
                 <div class="columns">
                     <div class="column is-three-fifhts">
                    <div class="box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ducimus temporibus! Tenetur cum atque beatae odit vero fugiat, amet ipsam, quasi repudiandae cupiditate quos, voluptates magnam illum autem, sint omnis.
                        </p>
                    </div>
                </div>
                <div class="column is-one-fifth">
                     <span class="tag is-dark">
  Hace: X horas
</span>
                </div> 
                 </div>
                  
               </div><div class="column is-full">
                 <div class="columns">
                     <div class="column is-three-fifhts">
                    <div class="box">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, ducimus temporibus! Tenetur cum atque beatae odit vero fugiat, amet ipsam, quasi repudiandae cupiditate quos, voluptates magnam illum autem, sint omnis.
                        </p>
                    </div>
                </div>
                <div class="column is-one-fifth">
                     <span class="tag is-dark">
  Hace: X horas
</span>
                </div> 
                 </div>
                  
               </div>
                
            </div>
        </div>
       </div>
    </div>
   </div>
    
    
</template>