<template>
          <div :class="[is_actived ? 'articles animated slideInRight' : 'animated slideInLeft']" id="wrapper" >
            <div id="container" v-if="is_actived == false" >
              <h1 class="">Iniciar Sesión</h1>

              <form class="form">
                <input type="text" placeholder="Username" v-model="user_name">
                <input type="password" placeholder="Password" v-model="user_password">
                <button @click="getIn($event)" id="login-button">Entrar</button>
                <br/>
                <br/>
                 <a id="login-a" @click="isActived()">Registrate</a>
              </form>
             
            
            <ul class="bg-bubbles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            </div>
             <div id="container" v-else-if="is_actived == true">
               <h1 class="">Registrate</h1>

              <form class="form">
                <input type="text" placeholder="Usuario" >
                <input type="text" placeholder="Correo Electronico" >
                <input type="text" placeholder="Contraseña" >
                <button type="submit" id="login-button">Entrar</button>
                <br/>
                <br/>
                <a type="submit" id="login-a" @click="isActived()">Atras</a>
               </form>

            <ul class="bg-bubbles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
            </div>
           </div>        

</template>
<style>
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"),
    url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3i94_wlxdr.ttf)
      format("truetype");
}
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"),
    url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdr.ttf)
      format("truetype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
}
#wrapper {
  background: #e4e9ea;
  background: linear-gradient(to bottom right, #e4e9ea 0%, #e3e8e8 100%);
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: -200px;
  overflow: hidden;
}
#wrapper.form-success #container h1 {
  -webkit-transform: translateY(85px);
  transform: translateY(85px);
}
#container {
  max-width: 600px;
  /*margin: 5% !important;*/
  margin-left: 30%;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
#container h1 {
  font-size: 40px;
  transition-duration: 1s;
  transition-timing-function: ease-in-put;
  font-weight: 200;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid #3273dc;
  background-color: rgb(255, 255, 255);
  width: 250px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: rgb(0, 0, 0);
  transition-duration: 0.25s;
  font-weight: 300;
}
input::placeholder {
  color: gray;
}
/*
form input:hover {
  background-color: rgb(46, 136, 240);
}*/
form input:focus {
  background-color: rgb(255, 255, 255);
  width: 300px;
  color: #000000;
}
form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: lightskyblue;
  border: 0;
  padding: 10px 15px;
  color: #000000;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}
form button:hover {
  background-color: #25b0f0;
    color: #ffffff;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#login-a{
    margin-left: 28%;
    color:gray;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
    transform: translateY(-700px) rotate(600deg);
  }
}
</style>
<script>
import axios from 'axios';
export default {
  name: "task",
  mounted(){
    this.noNavBar();
    this.eraseSession();
  },
  data() {
    return {
      logo: "null",
      is_actived: false,
      user_name: '',
      user_password: '',
      congrats: false
    };
},
  methods: {
    isActived: function() {
      this.is_actived = !this.is_actived;
    },
    //This function will allow us to get in the system, but for now is just showing us the NavBar and redirect us to the main
    getIn:function(event){
      if (event) {
        event.preventDefault();
      }
      console.log("entrando");
      var url = this.$parent.server_ip+"/users/login?username="+this.user_name+"&password="+this.user_password;
      axios.get(url)
        .then(respuesta => {
          console.log(respuesta);
          localStorage.id = respuesta.data.userId; 
          if(respuesta){
            console.log("usuario"+localStorage.id);
            this.$router.push("/inicio");
          }
          else{
            console.log("No se logro");
          }
        })
        .catch(function (error) {
          console.log(error);
        }); 
      
    },
    noNavBar:function(){
      this.$parent.nav_bar = false;
    },
    eraseSession:function(){
      if(localStorage.id){
        localStorage.id = null;
      }
    }
  }
}

</script>