<template>
<div class="columns is-mobile" style="padding-top: 70px; min-height: 100%;">
  <div class="column is-10 is-offset-1">
    <div class="card">
      <div class="TaskImage">
        
        <img class="TaskTop" :src="img_top">
          
      </div>
      <hr>
      <div class="card-content">
        <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
          <tr>
            <td style="width: 10%;"><strong>ETAPA</strong></td>
            <td style="width: 30%;"><strong>ESTADO</strong></td>
            <td style="width: 20%;"><strong>ASIGANADO A</strong></td>
            <td style="width: 25%;"><strong>PROCESO</strong></td>
            <td style="width: 20%;"></td>
          </tr>
        </thead>
      <tbody>
        
        
        <tr v-for="(value, index) in tasks">
          <td style="width: 10%;"><strong>{{value.taskType}}:</strong></td>
          <td style="width: 30%;">En proceso</td>
          <td style="width: 20%;" >{{value.User.username}}</td>
          <td style="width: 25%; padding-top: 2.1%;">
            
            <progress :class="setProgressColor(value.daysForDoom)" value="45" max="100">45%</progress>

          </td>
          <td style="width: 20%;">
            <router-link @click.native="setValueTask($event, value.taskId)" class="button is-primary is-outlined is-fullwidth is-rounded" to="/registro"><i class="ion-arrow-right-c"></i></router-link></td>
        </tr>
      </tbody>
      </table>
      </div>
    </div>
    
  </div>
</div>

</template>
<script>
import axios from 'axios';
  export default{
    name: 'mensaje',
    mounted(){
      this.getRegisters();
      this.$parent.showNav();
      this.seeUser();
    },
    data(){
      return{
       id_tarea: null,
       tasks: null,
       img_top: "https://wallpaperstudio10.com/static/wpdb/wallpapers/1000x563/171425.jpg",
       img_user: "https://event-management.es/wp-content/uploads/2018/01/businessman-512.png",
       color: 'progress'
      }
    },
    methods:{
      getRegisters: function(){
        var url = this.$parent.server_ip+"/tasks/getTasks";
        axios.get(url)
        .then(respuesta => {
          console.log(respuesta.data);
          this.tasks = respuesta.data;

        })
        .catch(function (error) {
          console.log(error);
        });
      },
      setValueTask: function(event, index){
        console.log("hey"+index);
        this.$parent.id_task = index;
        console.log(this.$parent.id_task+" Elemento padre");
      },
      seeUser:function(){
        console.log("Registrado el id "+localStorage.id);
      },
      setProgressColor: function(value){
        var newColor = '';
        if(value < 0){
          newColor = 'is-danger'
        }
        else if(value > 0 && value <= 2){
         newColor = 'is-warning';
        }
        else if(value>2 && value < 6){
          newColor = 'is-info';
        }
        else{
          newColor = 'is-success';
        }
        
        return this.color+' '+newColor;
      }
    }
  }
</script>