<template>
	<nav class="navbar is-info is-fixed-top" role="navigation" aria-label="main navigation" >
	  <div class="navbar-brand">
	      <router-link class="navbar-item"  to="/inicio"><img  :src="logo"></router-link>
	    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="true" data-target="navbarBasicExample">
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	      <span aria-hidden="true"></span>
	    </a>
	  </div>
	  <div id="navbarBasicExample" class="navbar-menu ">
	    <div class="navbar-start">
	        <!-- <router-link class="navbar-item" to="/home">Home</router-link>-->
	     	<router-link class="navbar-item" to="/inicio">Home</router-link>
	     	<router-link class="navbar-item" to="/tareas">Asignación Tareas</router-link>
	     	<router-link class="navbar-item" to="/task">Crear tarea</router-link>
	     	<router-link class="navbar-item" to="/webconfig">Personalización</router-link>
	     	<router-link class="navbar-item" to="/roles">Creación de Rol</router-link>
	    </div>
	    <div class="navbar-end">
	      <div class="navbar-item">
	        <div class="buttons">
	          <div class="navbar-item has-dropdown is-hoverable">
			        <a class="navbar-link">
			        	<span class="badge is-badge-danger is-badge-outlined" :data-badge="notificacion.length">
						      <i class="ion-ios-bell"></i>
						    </span>
			        </a>
			        <div class="navbar-dropdown is-right">
			          <a class="navbar-item" v-for="(value,index) in notificacion">
			          	{{index}}-{{value.message}}
			          </a>
			        </div>
			      </div>
	        </div>
	      </div>
	    </div>
	  </div>
	</nav>
</template>
<script>
import axios from "axios";
import openSocket from "socket.io-client";
import socketio from "sails.io.js";
	export default{
		name: 'navbar',
		mounted() {
			this.subscribeToNotifications();
			this.verifyShow();
			this.getNotifications();
		},
		data(){
			return{
				logo: 'https://img.lovepik.com/element/40044/8223.png_300.png',
				io: null,
				notificacion: []
			}
		},
		methods : {
			verifyShow: function(){
				if(!this.$parent.nav_bar){
					this.$parent.nav_bar = true;
				}
			},
			getNotifications: function(){
				console.log("entrando a notificaciones");
				var url = this.$parent.server_ip+"/notifications/getUserNotifications?userId="+localStorage.id;
				axios.get(url)
					.then(respuesta => {
						console.log("Estas son las notificaciones");
						console.log(respuesta.data);
						for(var i = 0; i < respuesta.data.length; i++){
							this.notificacion.push({ "message": respuesta.data[i].description});
						}
					})
					.catch(function (error) {
	          console.log(error);
	        });
			},
			subscribeToNotifications : function () {
				try {
        
        if (openSocket.sails) {
          
          this.io = openSocket;
        } else {
         
          this.io = socketio(openSocket);
        }

        this.io.sails.url = this.$parent.server_ip;
        // io.sails.autoConnect = false;
        // io.sails.connect();
        var self = this;
        this.io.socket.post(
          "/subscriptions/subscribeUserToChannel",
          { userId: 1 },
          function serverResponded() {
            console.log("Subscribed to receive notifications");
            /*var url = "http://localhost:1337/users/getLoggedUser";
						axios.get(url)
						.then(respuesta => {
							console.log("Milton prueba ", respuesta.data);
						})*/
          }
				);
				
				this.io.socket.on("UserSubscribedToNotification", data =>{
					console.log(data);

					this.notificacion.push({ "message": data.message});
					console.log("this is a notificacion",this.$data.notificacion);
				});

        this.io.socket.on("NewThread", function(not) {
          console.log("Recibiendo notificación", not);
        });

      } catch (e) {
        console.warn(e);
      }
			}
		}
	}
</script>