<template>
	<!--  Tree list failed
							<ul class="list-reset w-400 border-b-2 border-blue-bright ">
						    <li v-for="(item, index) in itemList.data" >
						      <a  v-on:click.prevent="activeItem(index)" href="">
						      	
						      	<input id="switchRoundedDefault" type="checkbox" name="switchRoundedDefault" class="switch is-rounded" checked="checked" >
										  <label for="switchRoundedDefault" >{{item.title}}</label> 
									</a>
						       <p class="px-2 pb-4" v-show="item.isActive"> {{ item.text }}</p>
						      <div :class="[item.isActive ? 'field padd' : 'field noPadd' ]" v-for="(value,key) in item.sub">
										  <input id="switchRoundedDefault" type="checkbox" name="switchRoundedDefault" class="switch is-rounded" checked="checked" v-show="item.isActive">
										  <label for="switchRoundedDefault" v-show="item.isActive">{{value.description}}</label> 
									</div>
						    </li>
						  </ul>
 					-->
	<div class="columns is-centered" style="padding-top:56px;">
		<div class="column is-10 "> 
			<div class="card">
					<header class="card-header has-text-centered" >
				    <p class="card-header-title  title article-title" >
				      {{title}} de rol
				    </p>
				  </header>			
  			<div class="card-content">
					
					<div class="field">
						<label class="label">Ingresar nombre del rol:</label>
						<div class="control">
							<input type="text" name="text" class="input is-inverted" placeholder="Texto de ejemplo"/>
						</div>
						
					</div>
					
					<h2 >Áreas de acceso</h2>
					<hr>
					<div class="columns">
						<!-- Padre -->
						<div class="column">
							<div class="columns is-multiline">
								<div class="column is-half">
			 						<div class="control has-icons-left">
									  <div class="select is-small">
									    <select>
									      <option selected disabled="true">Seleccionar un departamento</option>
									      <option>Maquetación</option>
									      <option>Traducción</option>
									    </select>
									  </div>
									  <span class="icon is-left">
									    <i class="ion-android-search"></i>
									  </span>
									</div>
			 					</div>
								<div class="column is-half">
									<div class="field">
								  <p class="control has-icons-left">
								    <input class="input" type="text" placeholder="Buscar">
								    <span class="icon is-small is-left">
								      <i class="ion-ios-search-strong"></i>
								    </span>
								  </p>
								</div>
								</div>
								<div class="column is-full">
									<div class="dragContainer" >
									<draggable v-model="list2" style="min-height: 50px" :options="{group:'people'}">
								    <div v-for="element in list2" class="dragElement" >{{element.name}}</div>
									</draggable>
								</div>
								</div>
							</div>
						</div>
						<!-- hijos -->
						<div class="column">
				    	<h2 >Permisos otorgados</h2>
							<div class="dragContainer" style="margin-top: 5%;">
						      <draggable v-model="list" style="min-height: 50px" :options="{group:'people'}">
						      <div v-for="element in list" class="dropElement">
						      	<span class="icon is-small is-left">
						      		<i class="ion-android-checkbox-outline"></i></span>{{element.name}}</div>
						      </draggable>
						  </div>

						</div>
					</div>
					<div class="columns">
						<div class="column is-4 is-offset-8">
							<a class="button is-info is-fullwidth">
						    <span class="icon is-small">
						      <i class="ion-checkmark"></i>
						    </span>
						    <span>Guardar</span>
						  </a>
						</div>
					</div>

					
				</div>
			</div>
		</div>
	</div>
	
</template>
<script>
//https://github.com/SortableJS/Vue.Draggable/issues/248 
import draggable from 'vuedraggable';
	export default{
		name: 'roles',
		components: {
            draggable,
     },
     mounted(){
     	
     },
		data(){
			return{
				title: 'Creación',
				itemList: {
			    data: [
			      {
			        title: 'A',
			        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, officiis?',
			        isActive: true,
			        sub: [{id: 1, description: 'A1'},{id: 2, description: 'A2'},{id: 3, description: 'A3'}]
			      },
			      {
			        title: 'B',
			        text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, doloribus!',
			        isActive: false,
			        sub: [{id: 1, description: 'B1'},{id: 2, description: 'B2'},{id: 3, description: 'B3'}]
			      },
			      {
			        title: 'C',
			        text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, animi?',
			        isActive: false,
			        sub: [{id: 1, description: 'C1'},{id: 2, description: 'C2'},{id: 3, description: 'C3'}]
			      }
			    ]
			    },
			    list: [{
			      name: "Eliminar usuarios"
			    }, {
			      name: "Editar usuarios"
			    }, {
			      name: "Crear usuarios"
			    }],
			    list2: [{
			      name: "Crear Tareas"
			    }, {
			      name: "Asignar usuarios"
			    }, {
			      name: "Crear threads"
			    }
			    , {
			      name: "Visualizar tareas"
			    }, {
			      name: "Mis tareas"
			    }, {
			      name: "Asignar roles"
			    }, {
			      name: "Crear roles"
			    }]
			}
		},
		methods: {
    activeItem: function(index) {
      for (var i = 0; i < this.itemList.data.length ; i++) {
        this.itemList.data[i].isActive = false;
      }
      
      if (this.itemList.indexActive == index) {
        this.itemList.data[index].isActive = false;
        this.itemList.indexActive = null;
      } else {
        this.itemList.data[index].isActive = true;
        this.itemList.indexActive = index;
      }
    },
    add: function() {
      this.list.push({
        name: 'Juan'
      });
    },
    replace: function() {
      this.list = [{
        name: 'Edgard'
      }]
    }
  }
	}
</script>