<template>
  <div>
    <section class="hero is-info is-medium is-bold"></section>
    <div class="hero-body">
      <div class="container has-text-centered"></div>
    </div>
    <div class="container">
      <!-- START CARD FEED -->
      <section :class="[is_actived ? 'articles animated slideInRight' : 'animated slideInLeft']">
        <div class="column is-8 is-offset-2" v-if="is_actived == false">
          <!-- START CARD -->
          <div class="card article" style="transform: scale(1, 1)">
            <div class="card-content">
              <div class="content article-body">
                <div class="media-content has-text-centered" style="margin: 50px 0px 60px">
                  <p class="title article-title">NUEVA TAREA</p>
                </div>
                <div class="columns" style="left:0; margin-left: 0; margin: 0px 0px 40px">
                  <div class="column">
                    <div class="pointer1" id="circulo" @click="isActived()">
                      <p>Contenido Nuevo Asignatura Completa</p>
                    </div>
                  </div>
                  <div class="column">
                    <div class="pointer2" id="circulo" @click="isActived()">
                      <p>Traduccion Nueva de Asignatura Completa</p>
                    </div>
                  </div>
                  <div class="column">
                    <div class="pointer3" id="circulo" @click="isActived()">
                      <p>Cambios Parciales en Asignatura Existente</p>
                    </div>
                  </div>
                  <div class="column">
                    <div class="pointer4" id="circulo" @click="isActived()">
                      <p>Traduccion Parcial por Cambios en Asignatura ya Traducida</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- END CARD -->
            </div>
          </div>
        </div>
        <div v-else-if="is_actived == true">
          <div class="column is-8 is-offset-2">
            <!-- START CARD -->
            <div class="card article">
              <div class="card-content">
                <div class="content article-body">
                  <div class="media-content has-text-centered" style="margin: 20px 0px">
                    <p class="title article-title">Traduccion nueva de asignatura completa</p>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Departmento:</label>
                    </div>
                    <div class="field-body">
                      <div class="select is-fullwidth is-info">
                        <select v-model="departamento">
                          <option value selected="false" disabled="disabled">Elegir un Departamento</option>
                          <option value="comunicacion">Comunicación</option>
                          <option value="ct">CT</option>
                          <option value="diseño">Diseño</option>
                          <option value="maquetacion">Maquetación</option>
                          <option value="secretaria academica">Secretaria Académica</option>
                          <option value="traduccion">Traducción</option>
                          <option value="tutoria">Tutoría</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Tipo:</label>
                    </div>
                    <div class="field-body">
                      <div class="select is-fullwidth is-info">
                        <select v-model="tipo">
                          <option value selected="false" disabled="disabled">Elegir un Tipo</option>
                          <option value="GR021 Asignatura Completa">GR021 Asignatura Completa</option>
                          <option
                            value="Folleto Empresas Actualización"
                          >Folleto Empresas Actualización</option>
                          <option
                            value="Sitio Funiber - nuevo proyecto"
                          >Sitio Funiber - nuevo proyecto</option>
                          <option value="Nota para portal Funiber">Nota para portal Funiber</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Cantidad de Página:</label>
                    </div>
                    <div class="field-body">
                        <input
                          class="input is-info"
                          type="text"
                          v-model="pags"
                          placeholder="Ingrese Cantidad"
                        >
                    </div>
                  </div>
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Idioma Fuente:</label>
                    </div>
                    <div class="field-body">
                      <div class="select is-fullwidth is-info">
                        <select v-model="fuente">
                          <option value selected="false" disabled="disabled">Idioma Fuente</option>
                          <option value="Español">Español</option>
                          <option value="Portugués">Portugués</option>
                          <option value="Inglés">Inglés</option>
                          <option value="Francés">Francés</option>
                          <option value="Italiano">Italiano</option>
                          <option value="Chino">Chino</option>
                        </select>
                      </div>
                    </div>
                  </div>
               <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Idioma Destino:</label>
                    </div>
                    <div class="field-body">
                      <div class="select is-fullwidth is-info">
                        <select v-model="fuente">
                          <option value selected="false" disabled="disabled">Idioma Fuente</option>
                          <option value="Español">Español</option>
                          <option value="Portugués">Portugués</option>
                          <option value="Inglés">Inglés</option>
                          <option value="Francés">Francés</option>
                          <option value="Italiano">Italiano</option>
                          <option value="Chino">Chino</option>
                        </select>
                      </div>
                    </div>
                  </div>
                    <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Plazo Deseado:</label>
                    </div>
                    <div class="field-body">
                        <input class="input is-info" id="date" type="date" name="datePicker" v-model="dateFinish">
                    </div>
                  </div>
                    <div class="field is-horizontal">
                      <div class="field-label is-normal">
                        <div class="field-body">
                          <div class="field">
                            <div class="control"></div>
                          </div>
                          <textarea
                            class="textarea is-info"
                            v-model="description"
                            placeholder="Comentario"
                          ></textarea>
                        </div>
                      </div>
                    </div>
                  <!-- subir archivo -->
                    <div class="field">
                      <div class="file is-right is-info">
                        <label class="file-label">
                              <input  type="file" name = "file"  id="file" ref="file" v-on:change="handleUpload()">

                        </label>
                      </div>
                  </div>
                </div>
                <!-- END CARD -->
                <div class="buttons has-addons is-centered">
                  <div>
                    <a class="button is-rounded" @click="isActived()">
                      <span class="icon is-small">
                        <i class="ion-ios-arrow-back"></i>
                      </span>
                      <span>Atras</span>
                    </a>
                  </div>
                  <div>
                    <a class="button is-info is-rounded" @click="isActived(); sendForm()">
                      <span>Enviar</span>
                      <span class="icon is-small">
                        <i class="ion-ios-arrow-forward"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "task",
  mounted() {},
  data() {
    return {
      logo: "null",
      is_actived: false,
      departamento: null,
      tipo: null,
      fuente: null,
      destino: null,
      pags: null,
      plazo: null,
      dateFinish : null,
      description : null
    };
  },

  methods: {
    isActived: function() {
      this.is_actived = !this.is_actived;
    },

    sendForm: function() {
      var url =
        this.$parent.server_ip +
        "/tasks/createTask?description=" +
        this.description +
        "&taskType=" +
        this.tipo+
        "&userId="+1+
        "&dateFinish="+this.dateFinish;
        let self = this;
      axios
        .get(url)
        .then(function(response) {
          console.log("tarea enviada");
          console.log(response);
          self.submitFile(response.data.newTask.taskId, response.data.newThread.threadId);
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    /* 
         * Detectar cambios en elemento file 
        */
    handleUpload() {
      this.file = this.$refs.file.files[0];
    },
    /**
     * Subir archivo al servidor
     */
    submitFile(taskId, threadId) {
      let self = this;
      console.log(this.file);
      //Creamos una variable formData para adjunta la info a enviar al servidor
      let formData = new FormData();
      formData.append("fileName", this.file.name);
      formData.append("taskId", taskId);
      formData.append("threadId", threadId);
      formData.append("file", this.file);

      axios
        .post(this.$parent.server_ip + "/documents/uploadDocument", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(function(response) {
          console.log(response);
          console.log(self.file.name + " subido al servidor");
        })
        .catch(function(error) {
          console.warn(error);
        });
    }
  }
};
</script>



