<template>
	<div class="columns" style="padding-top: 70px;">
		<div class="column">
			<div v-if="users !== null" :class="[is_actived ? 'timeline animated fadeInRight faster' :' timeline is-centered animated fadeInLeft fast']">
			  <header class="timeline-header">
			    <span class="tag is-medium is-info" @click="showSide()">Start</span>
			  </header>
			  <div class="timeline-item is-info" v-for="(value,index) in users">
			    <div class="timeline-marker"></div>
			    <div class="timeline-content" style="text-align: left;">
			    	<div class="OdinCard" :class="{'active': index == card_id}">
						  <div class="OdinCard-image">
						    <h1>{{value.createdAt}}</h1>
						  </div>
						  <div class="OdinCard-body">
						    <div class="controls">
						      <a data-action="drawer" @click="showData(index, $event)">
						        <i class="ion-android-arrow-up up" ></i>
						        <i class="ion-android-arrow-down down"></i>
						      </a>
						      <a data-action="share" @click="showSide(value.id); showData(index, $event); getCommentsById(value.threadId); checkIfSocketIsOpen(value.threadId)">
						        <i class="ion-android-add-circle" ></i>
						      </a>
						    </div>
						    <h1>{{value.userid}}</h1>
						    <p>
						      {{value.title}}
						    </p>
						  </div>
						</div>


			    </div>
			  </div>

			  <div class="timeline-header">
			    <span class="tag is-medium is-primary">End</span>
			  </div>
			</div>
			<div v-else>
					No hay registros			
			</div>
		</div>
		
		<!-- Side events -->
		<div class="column" v-if="is_actived == true">
			<div class="chat animated fadeInRight faster">
			  <div class="chat-header">
			    <h1>Comentarios</h1>
			  </div>
			  <div class="chat-history">
			    <ul>
			    	<li class="chat-item chat-item--me"  v-for="(value,index) in comments">
			    		<img src="https://semantic-ui.com/images/avatar2/small/lena.png" alt="" />
			    		<div class="message">
			    			<span class="message__user-name"  > {{value.User.username}} </span>
			    			<time class="message__time">
			    				<i class="ion-android-alarm-clock"></i>
			    				{{value.createdAt}}
			    			</time>
			    			<p class="message__text">{{value.message}}</p>
			    		</div>
			    	</li>
			    </ul>
			  </div>
			  <div class="chat-controls">
			    <textarea class="chat-controls__textarea" rows="2" placeholder="Type your message" v-model="message"></textarea>
			    <div class="btns-row">
			      <a href="#" class="chat-controls__btn" @click="setComment()">Send</a>
			      <a href="#" class="attach-file"><i class="fa fa-paperclip"></i></a>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	
</template>


<script>
import axios from "axios";
import openSocket from "socket.io-client";
import socketio from "sails.io.js";
export default {
  name: "timeline",
  /*sockets:{
	    connect: function(){
	      console.log('socket connected');
	    },
	    customEmit: function(val){
	      console.log('Se ha falllado con exito');
	    }
	  },*/

  mounted() {
    this.getRegisters(this.$parent.id_task);
    //this.$parent.login();
    //this.checkIfSocketIsOpen(this.thread_id);
    //this.connectSocket();
    //this.timer =  setInterval(this.getCommentsById(this.threadid), 3000);
  },
  data() {
    return {
      text_end: "Seguir",
      is_actived: false,
      card_id: null,
      user_id: null,
      users: null,
      comments: null,
      message: null,
      thread_id: 1,
      io: null,
      currentChatSocket: 0
    };
  },
  methods: {
    checkIfSocketIsOpen: function(threadid) {
      if (this.io !== null) {
        if (this.io.socket.isConnected()) {
          try {
            this.disconnectSocket();
            this.connectSocket(threadid);
          } catch (e) {
            console.warn("Trying to call disconnect on non-existent socket");
          }
        } else {
          this.connectSocket(threadid);
        }
      } else {
        this.connectSocket(threadid);
      }
    },
    disconnectSocket: function() {
      this.io.socket.disconnect();
      this.io = null;
      openSocket.sails = null;
    },getCommentsById: function(id) {
      this.threadid = id;
      var self = this;
      var url =  this.$parent.server_ip+"/messages/getMessages?threadId=" + id;
        
      axios
        .get(url)
        .then(response => {
          //console.log(response.data);
          this.comments = null;
          this.comments = response.data;
          this.comments = this.sortedArray();
          // setInterval(self.getCommentsById(self.threadid), 3000);
         
        })
        .catch(function(error) {
          console.log(error);
        });
      //console.log(this.comments);
    },
    connectSocket: function(tid) {
      console.log("Open socket: " + this.currentChatSocket);
      console.log("thread id from subscribing: ", tid);

      try {
        console.log("Open sockect status: ", openSocket.sails);
        if (openSocket.sails) {
          console.log("if");
          this.io = openSocket;
        } else {
          console.log("else");
          this.io = socketio(openSocket);
        }

        this.io.sails.url =  this.$parent.server_ip;
        // io.sails.autoConnect = false;
        // io.sails.connect();
        var self = this;
        this.io.socket.post(
          "/threads/subscribeToThread",
          { threadId: tid },
          function serverResponded() {
            console.log("whatuppp");
            self.currentChatSocket = tid;
          }
        );

        this.io.socket.on("UserEnteredChat", function(data) {
          console.log("Recibiendo evento", data);
        });

        this.io.socket.on("NewMessage", function(msg) {
            
          console.log("Nuevo mensaje recibido: ", msg);

   self.getCommentsById(self.threadid);

        });
      } catch (e) {
        console.warn(e);
      }
    },
    fetchList: function() {
      console.log("Si funciona...");
      var url =  this.$parent.server_ip+"/threads/getThreads?taskId=";
      axios
        .get(url)
        .then(respuesta => {
          console.log(respuesta.data);
        })
        .catch(function(error) {
          console.log(error);
        });
      console.log(this.users);
    },
    getRegisters: function(ide) {
      var url =  this.$parent.server_ip+"/threads/getThreads?taskId=" + ide;
      axios
        .get(url)
        .then(respuesta => {
          //console.log(respuesta.data);
          this.users = respuesta.data;
        })
        .catch(function(error) {
          //console.log(error);
        });
      //console.log(this.users);
    },
    showSide: function(id) {
      if (!this.is_actived) {
        this.is_actived = true;
      }
      this.user_id = id;
    },
    showData: function(index, event) {
      if (event) {
        event.preventDefault();
      }
      if (this.card_id != null) {
        this.card_id = null;
      } else {
        this.card_id = index;
      }
      console.log(index);
      // var url = "http://localhost:1337/threads/subscribeToThread?threadid="+index;
      // axios.get(url)
      // .then(respuesta => {
      //   console.log(respuesta.data);
      //   //this.comments = respuesta.data;
      // })
      // .catch(function (error) {
      //   console.log(error);
      // });
    },
    closeSide: function() {
      this.is_actived = false;
    },
    
    setComment: function() {
      console.log(this.message);
      var url = this.$parent.server_ip+
        "/messages/createMessage?message=" +
        this.message +
        "&threadId=" +
        this.threadid+"&userId="+localStorage.id;
      axios
        .get(url)
        .then(function(response) {
          console.log("mensaje enviado");
        })
        .catch(function(error) {
          console.log(error);
        });
      this.getCommentsById(this.threadid);
        
    },
    sortedArray: function() {
      function compare(a, b) {
        if (a.messageId < b.messageId)
          return -1;
        if (a.messageId > b.messageId)
          return 1;
        return 0;
      }

      return this.comments.sort(compare);
    }
  }
};
</script>

