<style>

</style>

<template>
<div class="container" style="padding-top: 70px;">
  <div class="field">
    <div class="file is-centered is-boxed is-success has-name">
        <label class="file-label">
            <input class="file-input" type="file" name = "file"  id="file" ref="file" v-on:change="handleUpload()">
            <span class="file-cta">
                <span class="file-icon">
                <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                Adjuntar
                </span>
            </span>
            <span class="file-name">
                {{ this.file.name }}
            </span>
        </label>
    </div>  
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-primary" v-on:click="submitFile()">Submit</button>
        </div>
    </div>

</div>

</template>

<script>
import axios from "axios";
  export default {
    data(){
      return {
        file: '' // nos servirá para obtener datos para mostrar antes de subirla
      }
    },
    methods: {
        /* 
         * Detectar cambios en elemento file 
        */
        handleUpload(){
            this.file = this.$refs.file.files[0];
        },
        /**
         * Subir archivo al servidor
         */
        submitFile(){
            let self = this;
            console.log(this.file)
             //Creamos una variable formData para adjunta la info a enviar al servidor
             let formData = new FormData();
             formData.append('fileName', this.file.name);
             formData.append('taskId', 1);
             formData.append('threadId', 2)
             formData.append('file', this.file);
             
             
             axios.post( this.$parent.server_ip+'/documents/uploadDocument',
                formData,
                {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
              }).then(function(response){
                  console.log(response);
                  console.log(self.file.name + ' subido al servidor');
                })
                .catch(function(error){
                    console.warn(error);
                });
    },
    }
  }
</script>