<template>

	<div class="container" style="padding-top: 70px;">
		<div class="column is-12">
			<div class="card article">
				<header class="card-header has-text-centered" >
				    <div class="has-text-centered">
							<p class="card-header-title  title article-title">Configuración</p>
						</div>
				  </header>
				<div class="card-content">
					<div class="content article-body">
						
						<p class="title is-4">Dominios</p>	
						<hr>
						<p>Especifica que dominos se aceptarán al registrarse los usuarios.</p>
							<div class="tile is-ancestor">
								<div class="tile is-4 is-vertical is-parent">
									<div class="tile is-child box">
										<p class="subtitle">Agregar de la lista</p>
											<div class="select is-fullwidth">
												<select>
													<option>Elegir un dominio</option>
													<option value="unini">unini.org</option>
													<option value="funiber">funiber.org</option>
													<option value="funiber-br">funiber.org Brasil</option>
													<option value="funiber-sv">funiber.org El Salvador</option>
													<option value="funiber-ar">funiber.org Argentina</option>
												</select>
											</div>
											<a class="button is-primary" style="margin-top: 10px;">Agregar</a>
									</div>
								<div class="tile is-child box">
									<p class="subtitle">Define un dominio</p>
									<input class="input" type="text" placeholder="ejemplo.es">
									<a class="button is-primary" style="margin-top: 10px;">Agregar</a>
								</div>
							</div>
								<div class="tile is-parent">
									<div class="tile is-child box">
										<p class="subtitle">Dominios actualmente aceptados</p>
										<span class="tag is-medium" style="margin-right: 5px;">
											becarios.uneatlantico.es
											<button class="delete is-small"></button>
										</span>
										<span class="tag is-medium" style="margin-right: 5px;">
											uneatlantico.es
											<button class="delete is-small"></button>
										</span>
										<span class="tag is-medium" style="margin-right: 5px;">
											funiber España
											<button class="delete is-small"></button>
										</span>
									</div>
								</div>
							
						</div>
						<br>
						<p class="title is-4">Temas</p>
						<hr>
						<div class="tile is-ancestor ">
						  <div class="tile is-parent" >
						    <article class="tile is-child box" style="background-color: #209cee; color:white;">
						      <p class="title">Azul</p>
						     
						    </article>
						  </div>
						  <div class="tile is-parent">
						    <article class="tile is-child box" style="background-color: #00d1b2;">
						      <p class="title">Turquesa</p>
						      
						    </article>
						  </div>
						  <div class="tile is-parent">
						    <article class="tile is-child box" style="background-color: #ff3860;">
						      <p class="title">Escarlata</p>
						      
						    </article>
						  </div>
						  <div class="tile is-parent">
						    <article class="tile is-child box" style="background-color: #23d160;">
						      <p class="title">Verde</p>
						      
						    </article>
						  </div>
						 
						</div>
						<br><br>
						<p class="title is-4">Workflow</p>	
						<hr>
						<p>Define que imagen se muestra en cada etapa del proceso de trabajo, incluyendo sus diferentes estados.</p>
						<div class="columns">
							<div class="column">
								<p class="title is-6">Maquetación</p>
								<div class="box">
									<article class="media">
										<div class="media-left">
											<figure class="image is-64x64">
												<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
											</figure>
										</div>
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Nueva tarea</strong>
												</p>
												 <div class="field">
								                      <div class="file is-right is-info">
								                        <label class="file-label">
								                              <input type="file" name="resume">

								                        </label>
								                      </div>
								                  </div>
											
											<!--end of content div-->
											</div>

										</div>
									  </article>
									</div>
									<!--end of box div-->
									<div class="box">
									<article class="media">
										<div class="media-left">
											<figure class="image is-64x64">
												<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
											</figure>
										</div>
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Tarea en proceso</strong>
												</p>
												 <div class="field">
								                      <div class="file is-right is-info">
								                        <label class="file-label">
								                              <input type="file" name="resume">

								                        </label>
								                      </div>
								                  </div>
											
											<!--end of content div-->
											</div>

										</div>
									  </article>
									</div>
									<!--end of box div-->
									<div class="box">
									<article class="media">
										<div class="media-left">
											<figure class="image is-64x64">
												<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
											</figure>
										</div>
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Tarea terminada</strong>
												</p>
												 <div class="field">
								                      <div class="file is-right is-info">
								                        <label class="file-label">
								                              <input type="file" name="resume">

								                        </label>
								                      </div>
								                  </div>
											
											<!--end of content div-->
											</div>

										</div>
									  </article>
									</div>
									<!--end of box div-->
							</div>
							<div class="column">
								<p class="title is-6">Traducción</p>
											<div class="box">
									<article class="media">
										<div class="media-left">
											<figure class="image is-64x64">
												<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
											</figure>
										</div>
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Nueva tarea</strong>
												</p>
												 <div class="field">
								                      <div class="file is-right is-info">
								                        <label class="file-label">
								                              <input type="file" name="resume">

								                        </label>
								                      </div>
								                  </div>
											
											<!--end of content div-->
											</div>

										</div>
									  </article>
									</div>
									<!--end of box div-->
									<div class="box">
									<article class="media">
										<div class="media-left">
											<figure class="image is-64x64">
												<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
											</figure>
										</div>
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Tarea en proceso</strong>
												</p>
												 <div class="field">
								                      <div class="file is-right is-info">
								                        <label class="file-label">
								                              <input type="file" name="resume">

								                        </label>
								                      </div>
								                  </div>
											
											<!--end of content div-->
											</div>

										</div>
									  </article>
									</div>
									<!--end of box div-->
									<div class="box">
									<article class="media">
										<div class="media-left">
											<figure class="image is-64x64">
												<img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
											</figure>
										</div>
										<div class="media-content">
											<div class="content">
												<p>
													<strong>Tarea terminada</strong>
												</p>
												 <div class="field">
								                      <div class="file is-right is-info">
								                        <label class="file-label">
								                              <input type="file" name="resume">

								                        </label>
								                      </div>
								                  </div>
											
											<!--end of content div-->
											</div>

										</div>
									  </article>
									</div>
									<!--end of box div-->
							</div>
							</div>
						</div>
						<a class="button is-link">Guardar cambios</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</template>
<script>
	export default{
		name: 'webconfig',
		
	}
</script>