@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=cyrillic');
@import url(https://fonts.googleapis.com/css?family=Lato:700);

// -- vars PROGRESS
$bg-color: #34495e;
$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;

// -- mixins Progress bars
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}

@mixin draw-progress--solid($progress, $color, $bg-color) {
  background: linear-gradient(to right, $color 50%, $bg-color 50%);
  
  &:before {
    @if $progress <= 50 {
      background: $bg-color;
      transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
    } @else {
      background: $color;
      transform: rotate((100 - $progress) / 100 * 360deg);
    }
  }
}


html{
	min-height: 100%;
	padding: 0;
	
}


html , body{
		min-height: 100%;
	  font-family: 'Roboto Condensed', sans-serif;
	  padding: 0;
	  //font-weight: 300;
	  background: #e1f5fe;
	  //background: -moz-linear-gradient(30deg,  #ff2a68 0%, #5ac8fb 100%);
	  //background: -webkit-linear-gradient(30deg,  #ff2a68 0%,#5ac8fb 100%);
	  //background: linear-gradient(30deg,  #ff2a68 0%,#5ac8fb 100%);
	  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff2a68', endColorstr='#5ac8fb',GradientType=1 );
	  #app{
	  	min-height: 100%;
	  	padding: 0;
	  }
	  .columns{
	min-height: 100%;	
}

	}

//CSS principal

//Cartas del timelie comienzan aqui
.OdinCard {
  display: block;
  position: relative;
  width: 500px;
  height: 160px;
  border-radius: 2px;
  background: #FAFAFA;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

//Hereda y aplica elementos a la imagenes

.OdinCard .OdinCard-image {
  display: block;
  position: relative;
  width: 500px;
  height: 210px;
  background-image: url('https://4.bp.blogspot.com/-T_k03UFtS8k/U96RDVp8ebI/AAAAAAABF5E/4107zIbo29U/s0/Google+IO+Landscape_HD.jpg');
  background-size: cover;
  background-position: 50% 20%;
  
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

//Si esta activo pasa esto con la imagen

.OdinCard.active .OdinCard-image {
  background-position: 50% 50%;
}

.OdinCard .OdinCard-image h1 {
  position: absolute;
  top: 5px;
  left: 10px;
  margin: 0;
  padding: 0;
  color: #FAFAFA;
  font-weight: 300;
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}

.OdinCard.active .OdinCard-image h1 {
  bottom: 100px;
}
//El body se encuentra abajo oculto
.OdinCard .OdinCard-body {
  position: absolute;
  display: block;
  bottom: -120px;
  left: 0;
  width: 500px;
  height: 160px;
  background: #FAFAFA;
  padding: 0 15px;
  box-sizing: border-box;
  
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
//Cuando se activa se disminuye el bottom a 0 para que este alineado
.OdinCard.active .OdinCard-body {
  bottom: 0;
}

.OdinCard .OdinCard-body .controls {
  display: block;
  width: 100%;
  height: 10%;
  margin-bottom: 20px;
}

.OdinCard .OdinCard-body .controls a {
  position: relative;
  display: block;
  float: right;
  height: 50px;
  width: 50px;
  color: #737373;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.OdinCard .OdinCard-body .controls a[data-action="drawer"] {
  float: left;
}

.OdinCard .OdinCard-body .controls a[data-action="drawer"] i {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
  transition: opacity 0.32s ease, transform 0.32s ease, color 0.22s ease;
}

.OdinCard .OdinCard-body .controls a[data-action="drawer"] i.down {
  opacity: 0;
  transform: translateX(-50%) rotate(180deg);
}

.OdinCard.active .OdinCard-body .controls a[data-action="drawer"] i.down {
  opacity: 1;
  transform: translateX(-50%) rotate(0deg);
}

.OdinCard .OdinCard-body .controls a[data-action="drawer"] i.up {
  opacity: 1;
  transform: translateX(-50%) rotate(0deg);
}

.OdinCard.active .OdinCard-body .controls a[data-action="drawer"] i.up {
  opacity: 0;
  transform: translateX(-50%) rotate(180deg);
}

.OdinCard .OdinCard-body .controls a:hover {
  color: #4183D7;
}

.OdinCard .OdinCard-body .controls a[data-action="share"]:hover {
  color: #4183D7;
}

.OdinCard .OdinCard-body .controls a[data-action="bookmark"]:hover {
  color: #F9BF3B;
}

.OdinCard .OdinCard-body .controls a[data-action="favorite"]:hover {
  color: #D24D57;
}

.OdinCard .OdinCard-body h1 {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
  color: #323232;
  font-size: 20px;
}

.OdinCard .OdinCard-body p {
  display: block;
  overflow: hidden;
  margin: 0;
  color: #737373;
  font-size: 16px;
  text-align: left;
  opacity: 0;
  padding: 40px 0 0 0;
  font-weight: 400;
  
  transition: padding 0.4s cubic-bezier(.25,.8,.25,1), opacity 0.5s cubic-bezier(.25,.8,.25,1);
  transition-delay: 0.1s;
}

.OdinCard.active .OdinCard-body p {
  opacity: 1;
  padding: 0;
}
//Comienza css chat

.chat {
	position: fixed;
  width: 49%;
  margin: 0 auto;
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/shinecaro.png");;
  border-radius: 5px;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.chat-header {
  background: #40c4ff;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  h1 {
    color: #fff;
    text-transform: uppercase;
  }
}

.chat-history {
  height: 350px;
  overflow-y: auto;
  padding: 20px;
}

.chat-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  
  img {
    width: 36px;
    border-radius: 50%;
  }
}

.chat-item--me {
  .message {
    margin-left: 15px;
    background: #f6f6f6;
    
    &::before {
      right: 100%;
      border: solid transparent;
      border-right-color: #f6f6f6;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 10px;
      top: 10px;
    }
  }
}

.chat-item--other {
  .message {
    margin-right: 15px;
    background: #f6f6f6;
    
    &::after {
      left: 100%;
      border: solid transparent;
      border-left-color: #f6f6f6;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-width: 10px;
      top: 10px;
    }
  }
}

.message {
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.message__user-name {
  font-size: 13px;
  font-weight: bold;
  color: #000;
}

.message__time {
  font-size: 11px;
  color: #999;
}

.message__text {
  font-size: 13px;
  color: #777777;
}

.btns-row {
  margin-top: 5px;
}

.chat-controls {
  margin-top: 10px;
  border-top: 1px solid #f6f6f6;
  padding: 20px;
  padding-top: 10px;
  background: #eee;
}

.chat-controls__textarea {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  outline: none;
}

.chat-controls__btn {
  padding: 0 15px;
  background: #75b1e8;
  line-height: 25px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

.attach-file {
  color: #999;
  float: right;
}

// scroll
// Let's get this party started
::-webkit-scrollbar {
  width: 5px;
}

// Track
::-webkit-scrollbar-track {
  border-radius: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .3);
}

// Handle
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, .3);
}
//Termina css chat

//Task card style

.OdinTaskPrev {
  background-color: whitesmoke;
  border-radius: 4px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
}

*, h1, button {
  font-family: 'Nunito', sans-serif;
}
  
 
.fade-enter-active, .fade-leave-active{
  transition: opacity .5s
}
  

.fade-enter, .fade-leave-active{
  opacity: 0
}
.tasks{
  width : 100%
  max-width 45rem
  padding 1em
  margin 1em auto
  overflow auto
  background-color white
  box-shadow 0px .25rem 1rem rgba(black, .25)
}
.tasks__list{
  clear : both
}
.tasks__item{
  margin-bottom : .5em
  position relative
}
.tasks__item__toggle{
  cursor : pointer
  width 100%
  text-align left
  padding .85em 2.25em .85em 1em
  background-color rgba(black, .05)
  border 1px solid rgba(black, .1)
}
.tasks__item__toggle:hover{
  background-color : rgba(black, .1)
  border-color rgba(black, .15)
}
.tasks__item__toggle--completed{
  text-decoration : line-through
  background-color rgba(green, .15)
  border-color rgba(green, .2)
}
.tasks__item__toggle--completed:hover{
  background-color : rgba(green, .25)
  border-color rgba(green, .3)
}
.tasks__item__remove{
  position : absolute
  height 100%
  top 50%
  right 0
  transform translateY(-50%)
}
.tasks__item__remove i{
  vertical-align : middle
}

// Comienza css tasks
//$table-row-hover-background-color: hsl(171, 100%, 41%);
.go:hover{
	background-color: hsl(171, 100%, 41%);
	width: 100%;
}
// Termina css tasks

//START CSS ROUNDED PROGRESS BAR

//Took from https://codepen.io/jo-asakura/pen/stFHi

.set-size {
  font-size: 4em;
}

.charts-container {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.pie-wrapper {
  @include size($default-size, $default-size);
  float: left;
  margin: 15px;
  position: relative;
  
  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: ($default-size / 10) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    background: $bg-color;
    border-radius: 50%;
    bottom: $label-font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: $label-font-size;
    left: $label-font-size-redo / 10;
    line-height: $label-font-size-redo * .70;
    position: absolute;
    right: $label-font-size-redo / 10;
    text-align: center;
    top: $label-font-size-redo / 10;

    .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    @include size(100%, 100%);
    border: $default-size / 10 solid #bdc3c7;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      background: none;
      color: #7f8c8d;

      .smaller {
        color: #bdc3c7;
      }
    }
  }

  &.progress-30 {
    @include draw-progress(30, #3498db);
  }

  &.progress-60 {
    @include draw-progress(60, #9b59b6);
  }

  &.progress-90 {
    @include draw-progress(90, #e67e22);
  }

  &.progress-45 {
    @include draw-progress(45, #1abc9c);
  }

  &.progress-75 {
    @include draw-progress(75, #8e44ad);
  }

  &.progress-95 {
    @include draw-progress(95, #e74c3c);
  }
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;

  &:before {
    border-radius: 0 100% 100% 0 / 50%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
  }
  
  .label {
    background: transparent;
  }
  
  &.progress-65 {
    @include draw-progress--solid(65, #e67e22, $bg-color);
  }
  
  &.progress-25 {
    @include draw-progress--solid(25, #9b59b6, $bg-color);
  }
  
  &.progress-88 {
    @include draw-progress--solid(88, #3498db, $bg-color);
  }
}

//END CSS ROUNDED PROGRESS BAR

// TASK CSS
	.TaskImage{
		height: 200px;
		font-family: 'Roboto', sans-serif;
		.TaskUser{
			position: absolute;
			top: 30%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #eee;
			width: 12%;
			height: 17%;
			border-radius: 50%;
			text-align: center;
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
			img{
				display: inline-block;
				width: 80%;
				height: 90%;
			}
		}
		.TaskTop{
			width: 100%;	
			max-height: 100%;
		}

			h1{
				letter-spacing: 2px;
				background:#cfd8dc;
				color: #40c4ff;
				font-size: 1em;
				position: absolute;
			  top: 51%;
			  left: 50%;
			  transform: translate(-50%, -50%);
			  width: 25%;
			  border-radius: 16px;
			  text-align: center;
			}
		
	}
// END TASK

//CSS LIST

.list{
	margin-top: 76px;
	margin-left: 10%;
	left: 10%;
	width: 80%;

	a{
		-webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
	}

	.wrapper-list{
		width:100%;
		background-color:#FFFFFF;
		-webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	header{
		text-align:right;
		padding:10px;
		margin-bottom:10px;
		background-color:#03a9f4;
	}

	header a{
		font-size:20px;
		color:#FFFFFF;
		width:40px;
		height:40px;
		line-height:40px;
		margin-left:10px;
		text-align:center;
		display:inline-block;
	}

	header a:hover, .list-mode header a.hide-list:hover{
		background-color:#0091ea;
	}

	header a.hide-list{
		background-color:#0091ea;
	}

	.list-mode header a.hide-list{
		background-color:#03a9f4;
	}

	.list-mode header a.show-list{
		background-color:#0091ea;
	}

	.container-list:after{
		content:"";
		clear:both;
		display:table;
	}

	.container-list{
		padding:.5%;
	}
//Aqui se muestra cuando esta pequeño
	.wrapper-list .box-list{
		float:left;
		width:100px;
		height:130px;
		margin:0 10px 10px 0;
		background-color:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		color: black;
		-webkit-transition:all 1.0s ease;
		-moz-transition:all 1.0s ease;
		transition:all 1.0s ease;
		transition:all 1.0s ease;
		.title-list{
			visibility:hidden;
			display: none;
		}
		//Destruimos el contendor largo
		.large-list{
			visibility:hidden;
			display: none;	
		}
		//Creamos el contenedor pequeño
		.elements-list{
			visibility:visible;
			display:block;
			min-width: 100%;
			min-height: 100%;
			background: white;
		}
		.elements-list:hover{
			background-color: gray;
			opacity: 0.5;
		}

	}

	.wrapper-list.list-mode .container-list{
		padding-right:1px;

	}
//Aqui se muestra cuando esta extendido
	.wrapper-list.list-mode .box-list{
		width:96%;
    height: 25%;
		margin-left: 2%;
		color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		.title-list{
			visibility:visible;
			display: inline;
		}
		//Este sera el contenedor de el elemento largo
		.large-list{
			visibility:visible;
			display: inline;
      vertical-align: top;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      line-height: 28px;
      h2{
        padding-top:17px
      }
      p{
        padding-left:3em;
        padding-top:17px
      }
			color: black;
        img{
          height: 92%;
          width: 100px;
          left: 0;
        }
        .maru {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          flex-flow: column wrap; 
          vertical-align: top;
        }
        .size_normal{
          width: 20px;
          height: 20%;
        }
        .letter3 {
          font-size: 3em;
          line-height: 1.5em;
        }
        .letter_small {
          font-size: 2em;
          line-height: 1em;
        }
        .letter_large {
          font-size: 5em;
          line-height: 1em;
        }
        .pink1 {
          color: pink;
          border: 4px solid pink;
        }

        .pink2 {
          color: #fff;
          border: 4px solid pink;
          background: pink;
        }

        .sky1 {
          color: skyblue;
          border: 4px solid skyblue;
        }

        .sky2 {
          color: #fff;
          border: 4px solid skyblue;
          background: skyblue;
        }
        .from{
          font-size: 19px;
        }
        .translate{
          font-size: 13px;
        }
			 .dates{
        font-size: 13px;
        padding-top: 5px;
       }
		}
		//destruimos el contenedor pequeño
		.elements-list{
			visibility:hidden;
			display: none;
		}
	}
}


//End LIST


//Start creat task css

.pointer1:hover, .pointer2:hover, .pointer3:hover, .pointer4:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

.pointer1 {
    background: #9c27b0;
}

.pointer2 {
    background: #673ab7;
}

.pointer3 {
    background: #3f51b5;
}

.pointer4 {
    background: #2196f3;
}

#circulo {
    cursor: pointer;
    padding: 2px;
    line-height: 128px;
    width: 120px;
    height: 128px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}
#circulo p {
    vertical-align: middle;
    display: inline-block;
    line-height: 1.2;
    text-align:center;
    color:white;
}


//End create task css

//Css role
  .dragElement{
    width: 80%;
    box-shadow:  0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.12);
    padding: 1%;
    margin: 1%;
  }
  .dropElement{
    width: 80%;
    box-shadow:  0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.12);
    padding: 1%;
    margin: 1%;
    background-color: #00e676;
  }

  .w-400 {
    width: 100%;
    
    li{
      width: 100%;
      height: 2%;
      a{
        display: block;
        padding-top: 2%;
        width: 100%;
      }
      .padd{
        visibility: visible;
        padding:1%;  
      }
      .noPadd{
        visibility: hidden;
      }
      
    }
    li:hover{
      box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  }

.dragContainer{
  text-align: center;
  min-height: 20%; 
  max-height: 70%; 
  overflow-y: scroll;
  width: inherit;
  box-shadow:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

//End css role

@import '~bulma/bulma';
@import '~bulma-timeline/src/sass/index';
@import '~bulma-badge/src/sass/index';
@import '~animate.css/animate.min.css';

@import '~bulma-switch/src/sass/index';


.add:hover{
			-webkit-filter: saturate(8);
  filter: saturate(8);
		}